
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end reset */
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #eee;
    color: #333;
}
h1 {
    color: #333;
    line-height: 120%;
    font-size: 31px;
    margin-bottom: 2rem;
}
h2 {
    line-height: 120%;
    font-size: 29px;
    margin-bottom: 1.5rem;
}
h1 h1.h1, h2.h1, h3.h1 {
    font-size: 31px;
    margin-bottom: 2rem;
}
h2, h1.h2, h2.h2, h3.h2 {
    font-size: 29px;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
h3, h1.h3, h2.h3, h3.h3 {
    font-size: 26px;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
    font-weight:  bold;
}
h1.h4, h2.h4, h3.h4, h4 {
    font-size: 22px;
    margin-bottom: 1.25rem;
    font-weight:  bold;
    color: #666;
}
p, ul, ol {
    margin-bottom: 1rem;
}
ul, ol {
    margin-left: 3rem;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
dt {
    position:relative;
}
dl {
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
}
dt:before {
    content: attr(data-step);
    display: block;
    position: absolute;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    left: -2rem;
    top: -.1rem;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid #666;
    text-align: center;
    text-align: baseline;
    background-color: #fff;
    line-height: 200%;
}
main { 
    max-width: 1215px; 
    margin: 1rem auto;
    font-family: arial, sans-serif;
    font-size: 20px;
    padding: 1rem;
    line-height: 140%;
    padding-right: ;
}
main * {
    max-width: 900px;
}

.textarea {
    background-color: #fff;
    padding: .25rem 1rem;
    border: 1px solid #ccc;
    overflow: auto;
}
pre {
    line-height: 160%;
}
code {
    display: inline-block;
    font-weight: bold;
    background-color: #fff;
}
dt, dd {
    margin-left: 2rem;
    padding-left: 1rem;
}
ul.choices,
form ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
}
ul.choices.blocks {
    display: grid;
    flex-wrap: wrap;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
ul.choices li {
    display: inline-block;
    margin-bottom: 1rem;
}
ul.choices.blocks li {
    display: flex;
}
ul.choices li a {
    display: block;
    color: white;
    background-color: #3c84c4; 
    padding:  1rem 1.5rem;   
    margin: .25rem;
    border-radius:  .5rem;
    text-decoration:  none;
    width: 90%;
}
ul.choices li a:hover {
    background-color: #3277B8;
}
main aside {
    background-color:  rgba(0,0,0, .05);
    padding: 1rem;
    margin-top: 3rem;
    font-size: 17px;
}
form ul li {
    margin-bottom: 1rem;
}
form ul li label,
form ul li input {
    display: block;
}
fieldset {
    display:  block;
    border:  none;
    background-color:  rgba(0,0,0,.05);
    padding: 0 2rem;
}
input[type=submit] {
    -webkit-appearance: none;
    padding: .75rem 1.5rem;
    color: white;
    background-color: #3c84c4; 
    border-radius: .5rem;
    border: none;
    font-size: 20px;

}
input {
    font-family: arial, sans-serif;
    font-size: 18px;
    line-height: 140%;
}
label {
    font-weight: bold;
    font-size:  17px;
}
.help {
    font-size: 16px;
    line-height: 1.4rem;
    padding: 0 .5rem;
}
form .error {
    color: #900;
    background-color: rgba(255, 0, 0, .1);
    padding: .5rem 2rem;
    font-size: 15px;
    font-weight:  bold;
}

.new-section {
    margin-top: 3rem;
}
strong em {
    font-style:  normal;
    background-color:  rgba(255, 255, 255, 1);
    display: inline-block;
    padding: .1rem .5rem;
}

@media (max-width: 740px) {

    ul.choices.blocks {
        display: grid;
        flex-wrap: wrap;
        align-items: stretch;
        grid-template-columns: 1fr;
    }

}
@media (max-width: 600px) {
    dd {
        margin-left: 0;
        padding-left: 0;
    }
    dt {
        margin-left: 0;
        padding-left: 2.25rem;
    }
    dt:before {
        width: 2rem;
        height: 2rem;
        left: -.5rem;
        top: -.25rem;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}

